[submodule "vendored/gam"]
	path = vendored/gam
	url = https://github.com/jakubDoka/gam
[submodule "vendored/unicorn-engine"]
	path = vendored/unicorn-engine
	url = https://github.com/unicorn-engine/unicorn.git
