[submodule "vendored/gam"]
	path = vendored/gam
	url = https://github.com/jakubDoka/gam
[submodule "vendored/wasm-micro-runtime"]
	path = vendored/wasm-micro-runtime
	url = https://github.com/wasm-micro-runtime/wasm-micro-runtime.git
